#top-bar{
   
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;   
}

#bottom-bar{ 
   
    position: fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
}

#img-upleft{
    width: 64px;
    height: 64px;   
}

#signin{
    border-radius: 8px;
    background-color: blue;
    color:white;
    height:32px;
    width: 64px;   
}

#top-bar-right{
    float: right;
}

li{
    list-style-type: none;
    display: inline;
}
a{
text-decoration: none;
    color: black;}

#picture-center{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 10%;
    left: 25%;
}

#search-bar{
    width: 200px;
    height: 25px;
    border-color: aliceblue;
    position: absolute;
    top:100%;
    left:60% ;
}

#searchbutton{
     border-radius: 8px;
    background-color: lightgray;
    color:black;
    height:32px;
    width: 64px;
    position: absolute;
    top: 110%;
    left: 75%;
}
    


