#top-bar-signin{
   background-color: aqua;
    position: fixed;
    left: 0px;
    top:0px;
    width: 100%;   
}

#bottom-bar-signin{ 
   
    position: fixed;
    left: 0px;
    bottom:0px;
    width: 100%;
    text-align: center;
}

#img-center{
    width: 64px;
    height: 64px; 
    position: absolute;
    top:0%;
    left:49%;}

li{
    list-style-type: none;
    display: inline;}
a{
text-decoration: none;
    color: black;}
#center-square{
    width: 500px;
    height: 500px;
    background-color: lightgrey;
    position: fixed;
    left: 33%;
    top:15%;
    text-align: center; 
}

#signintext{
    font-family: sans-serif;
    font-size: 25px;
    }
#signin-form{
    width: 350px;
    height: 350px;
    background-color: lightgray;
    position: absolute;
   top: 18%;
    left: 15%;
}
#avatar{
height: 100px;
 width: 100px;
border-radius: 25px;
    position: absolute;
    top: auto;
    left: 36%;
}

#username {
    
   position: absolute;
    top: 30%;
    left: 22%;  
}

.putinform{
    height: 25px;
    width: 200px;
}

.putinforms-text{
     font-family: sans-serif;
    font-size: 20px;
}

#signin-button{
    position: absolute;
    top: 85%;
    left:28%;
    height: 50px;
    width: 150px;
    border-radius: 15px;
    background-color:   grey;
}




    


